.form {
    display: block;
    margin-top: 0 auto;
}

.form__labelText {
    width: 100%;
    max-width: 150px;
    display: inline-block;
    margin: 5px;
}

.form__field {
    border: 2px solid #191c1a;
    padding: 15xp;
    height: 35px;
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 10px 5px 10px rgb(108, 121, 108);
}

.form__button {
    width: 100%;
    padding: 7PX;
    border-radius: 10px;
    margin-top: 20px;
    background-color: rgb(108, 121, 108);
    transition: 0.5s;
}

.form__button:hover {
    background-color: rgb(151, 163, 151);
}

.form__button:active {
    background-color: rgb(200, 212, 200);
}

.form__legend {
    border: 2px solid #212322;
    border-radius: 10px;
    background-color: rgb(108, 121, 108);
    padding: 7px;
    margin: 0 auto;
}

.container__paragraph {
    margin-top: 10px;
    text-align: center;
}

.form__result {
    font-size: 30px;
}